body.whole{
    color: whitesmoke;
    background-image: url(../img/fonde.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
}
a{
    text-decoration: none;
    color: whitesmoke;
}

header.yes{
    background-color: #262626;
    margin-bottom: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6%;
}
h1.yes{
    margin-left: 8px;
    color: whitesmoke;
    text-align: center;
}
h3.yes{
    margin-left: 8px;
    color: whitesmoke;
    text-align: center;
}

img.fototop{
    width: 35vw;
    border-radius: 20%;
    margin-top: 2vh;
}

a.return{
    color: whitesmoke;
    text-decoration: none;
}

div.comienzo{
    height: 635px;
    grid-template-columns: 95vw;
    grid-template-rows: 22.3vh 450px;
    display: grid;
    margin-top: 20px;
    margin-left: 0.5vw;
}

h1.tit1{
    margin-left: 8px;
    margin-bottom: -3px;
    margin-top: 0px;
    color: whitesmoke;
    font-size: 20px;
}

h3.subt1{
    margin-left: 20px;
    text-align: left;
}

section.song{
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    border-bottom: black 1px dotted;
}

section.ultsong{
    border: none;
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
}

img.tops{
    max-width: 100vw;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 20%;
    float: left;
}
img.topsART{
    max-width: 100vw;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 50%;
    float: left;
}

p.nums{
    float: left;
    margin-right: 7px;
    padding: 10px 8px;
}

p.ultnum{
    float: left;
    margin-right: 7px;
    padding: 10px 8px;
}

p.prinum{
    float: left;
    margin-right: 7px;
    padding: 10px 10px; 
}

p.name{
    margin-left: 123px;
    padding: 12px;
    font-size: 16px;

}

div.ref1{
    background-color: #262626;
    height: 22vh;
    margin-bottom: 50px;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    text-align: center;
    border-bottom: black 3px solid;
}

div.ref2{
    background-color: rgba(61, 61, 61, 0.5  );
    display: grid;
    grid-template-rows: 90px 90px 90px 90px 90px;
    grid-template-columns: 95vw;
    padding-bottom: 0px;
    margin-bottom: 0px;    
}

div.updated{
    text-align: center;
    margin-bottom: 23px;
}



.blackhole{
    background-color: black;
    width: 95vw;
    height: 50px;
}

footer.icons{
    position: fixed; 
    padding: 10px 10px 20px 15px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
    background: black;
    margin-left: -8px;
}

footer i.fas{
    color: lightgray;
    width: 19vw;
    margin-left: 5vw;
    margin-top: 18px;
}
p.nomic{
    display: none;
}

p.nosfoot{
    display: none;
}

@media (min-width: 1023px){

    header.yes{
    width: 80vw;
    margin-left: 17vw;
}

img.fototop{
    width: 15vw;
    margin-top: 0px;
    border-radius: 6%;
}

div.ref1{
    height: 25vh;
    width: 80vw;
    margin-left: 17vw; 
    padding-top:9vh; 
}

footer.icons{
    position: absolute;
    top: 0px;
    left: 0;
    width: 15vw;
    height: 100vh;
    position: fixed;
}
p.nomic{
    display: block;
    margin-left: 4vw;
    margin-right: 2vw;
    margin-top: -27px;
}
footer i.fas{
    margin-left: 2vw;
    margin-bottom: 10px;
}

footer i.fa-home{
    margin-top: 5vw;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

p.nosfoot{
    display: block;
    position: absolute;
    bottom: 4vh;
    left: 2vw;
    font-size: 15px;
}

.blackhole{
    display: none;
}

div.ref2{
    background-color: rgba(61, 61, 61, 0.6  );
    display: grid;
    grid-template-rows: 90px 90px 90px 90px 90px;
    grid-template-columns: 95vw;
    margin-top: 19px;
    width: 80vw;
    margin-left: 17vw;
}

div.comienzo{
    height: 720px;
    grid-template-columns: 95vw;
    grid-template-rows: 32vh 470px;
    display: grid;
    margin-top: 20px;
    margin-left: 0.5vw;
}

.updated{
    margin-top: 30px;
}

section.song{
    width: 79vw;
}

section.ultsong{
    width: 79vw;
}

}