body.pro{
    color: whitesmoke;
    background-image: url(../img/Triangulos\ mix.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif
}
a.links{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}

footer.icons{
    position: fixed; 
    padding: 10px 10px 20px 15px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
    background: black;
    margin-left: -8px;
}

footer i.fas{
    color: lightgray;
    width: 19vw;
    margin-left: 5vw;
    margin-top: 18px;
}

header.header{
    background-color: #262626;
    margin-bottom: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6%;
}
header h1.WeMusic{
    margin-left: 8px;
}
header h3.Deezer{
    margin-left: 8px;
}

.tracks{
    background-color: #262626;
    margin-bottom: 20px;
}

.artists{
    background-color: #262626;
    margin-bottom: 20px;
}

.album{
    background-color: #262626;
    margin-bottom: 20px;
}

.Titulos{
    background-color: #262626;
    padding: 0px 7px 0px;
    border-radius: 6%;
}

.preview{
    background-color: #3d3d3d;
    margin-bottom: -13px;
    padding-top: 10px;
}
div.previewART img{
    border-radius: 50%;
}
div.previewART{
    background-color: #3d3d3d;
    margin-bottom: -13px;
    padding-top: 10px;
}

div.todos{
    border: black;
    border-style: solid;
    border-width: 1px;
    height: 240px;
    border-radius: 6%;
}

img.img{
    max-height: 150px;
    max-width: 200px;
    width: 77px;
    height: 77px;
    margin-left: 2vw;
    border-radius: 20%;
}

div.names{
    grid-template-columns: 20vw 28vw 20vw 27vw;
    grid-template-rows: 40px;
    display: grid;
    background-color: #3d3d3d;
    padding-left: 2vw;
    text-align: center;
    font-size: 13px;
    margin-top: 2px;
}

.blackhole{
    background-color: black;
    width: 95vw;
    height: 50px;
}

h4.tit{
    width: 80vw;
}

i.fa-chevron-right{
    float: right;
}

@media (min-width: 1023px){
body.pro{
        margin-right: 0px;
        background-image: url(../img/Fondo\ pc.jpg);
}

footer.icons{
        position: relative;
        position: static;
}

.blackhole{
        color:  grey;
        width: 0px;
        height: 0px;
}

img.img{
        align-content: center;
        margin-left: 60px;
}

h1.WeMusic{
    text-align: center;
}

h3.Deezer{
    text-align: center;
}

h4.tit{
        margin-left: 450px;
}

div.aside{
    background-color: black;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 30px;
}

div.cuerpo{ 
    display: grid;
    grid-template-columns: 500px 500px;
}
}