body.pro{
    color: whitesmoke;
    background-image: url(../img/fonde.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif
}
a.links{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}

footer.icons{
    position: fixed; 
    padding: 10px 10px 20px 15px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
    background: black;
    margin-left: -8px;
}

footer i.fas{
    color: lightgray;
    width: 19vw;
    margin-left: 5vw;
    margin-top: 18px;
}

header.header{
    background-color: #262626;
    margin-bottom: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6%;
}
header h1.WeMusic{
    margin-left: 8px;
}
header h3.Deezer{
    margin-left: 8px;
}

.tracks{
    background-color: #262626;
    margin-bottom: 20px;
}

.artists{
    background-color: #262626;
    margin-bottom: 20px;
}

.album{
    background-color: #262626;
    margin-bottom: 20px;
}

.Titulos{
    background-color: #262626;
    padding: 0px 7px 0px;
    border-radius: 6%;
}


div.todos{
    border: black;
    border-style: solid;
    border-width: 1px;
    height: 240px;
    border-radius: 6%;
}

img.img{
    max-height: 150px;
    max-width: 200px;
    width: 18vw;
    height: auto;
    border-radius: 20%;
    padding-top: 0.5vh;
}

div p.nosotros{
    text-align: center;
    font-size: 13px;
    margin-bottom: 33px;
}
p.nosfoot{
    display: none;
}

div.names{
    grid-template-columns: 23.25vw 23.25vw 23.25vw 23.25vw;
    grid-template-rows: 80px;
    display: grid;
    background-color: #262626;
    text-align: center;
    font-size: 13px;
    margin-top: 2px;
    max-width: 100vw;
    justify-content: space-around;
}

div.nameAl{
    grid-template-columns: 23.25vw 23.25vw 23.25vw 23.25vw;
    grid-template-rows: 80px;
    display: grid;
    background-color: #262626;
    text-align: center;
    font-size: 13px;
    margin-top: 2px;
    max-width: 100vw;
    justify-content: space-around;
}

div.nameAr{
    grid-template-columns: 23.25vw 23.25vw 23.25vw 23.25vw;
    grid-template-rows: 80px;
    display: grid;
    background-color: #262626;
    text-align: center;
    font-size: 13px;
    margin-top: 2px;
    max-width: 100vw;
    justify-content: space-around;
}

img.art{
    max-height: 150px;
    max-width: 200px;
    width: 18vw;
    height: auto;
    border-radius: 50%;
    padding-top: 0.5vh;
}

p.nom{
    margin-top: 7px;
}

.blackhole{
    background-color: black;
    width: 95vw;
    height: 50px;
}


h4.tit{
    width: 80vw;
}

i.fa-chevron-right{
    float: right;
}

p.nomic{
    display: none;
}

div.generalizada{
    display: none;
}

@media (min-width: 1023px){
body.pro{
        margin-right: 0px;
        background-image: url(../img/fonde.jpg);
}

footer.icons{
        position: absolute;
        top: 0px;
        left: 0;
        width: 15vw;
        height: 100vh;
        position: fixed;
}

a{
    text-decoration: none;
    color: whitesmoke;
}
       
.blackhole{
        color:  grey;
        width: 0px;
        height: 0px;
}

header.header{
    width: 80vw;
    margin-left: 17vw;
}

img.img{
    max-height: 280px;
    max-width: 300px;
    width: 200px;
    height: 200px;
    margin-left: 3.25vw;
    margin-right: 2.5vw;
    border-radius: 20%;
}

h1.WeMusic{
    text-align: center;
}

h3.Deezer{
    text-align: center;
}

div.todos{
    max-width: 80vw;
    margin-right: 2vw;
    margin-left: 17vw;
    border: black 3px solid;
    margin-top: 20px;
    height: 380px;
}

p.nomic{
    display: block;
    margin-left: 4vw;
    margin-right: 2vw;
    margin-top: -27px;
}

.preview{
    height: 200px;
}

footer i.fas{
    margin-left: 2vw;
    margin-bottom: 10px;
}

footer i.fa-home{
    margin-top: 5vw;
}

div p.nosotros{
    display: none;
}
p.nosfoot{
    display: block;
    position: absolute;
    bottom: 4vh;
    left: 2vw;
    font-size: 15px;
}

.tit{
    font-size: 20px;
}

div.names{
    grid-template-columns: 20vw 20vw 20vw 20vw;
    font-size: 15px;
    padding-left: 0;
}

div.nameAl{
    grid-template-columns: 20vw 20vw 20vw 20vw;
    font-size: 15px;
    padding-left: 0;
}

div.nameAr{
    grid-template-columns: 20vw 20vw 20vw 20vw;
    font-size: 15px;
    padding-left: 0;
}

img.art{
    max-height: 280px;
    max-width: 300px;
    width: 200px;
    height: 200px;
    margin-left: 3.25vw;
    margin-right: 2.5vw;
    border-radius: 50%;
}

}