body.whole{
    color: whitesmoke;
    background-image: url(../img/fonde.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
}
.hyper{
    color:white;
    padding-left: 25px;
    font-size: 5vw;
}

.hyperD{
    display: none;
}

.blackhole{
    background-color: black;
    width: 95vw;
    height: 50px;
    position: absolute;
    bottom: auto;
}

header.yes{
    background-color: #262626;
    margin-bottom: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6%;
}

.fa-chevron-left{
    position: absolute;
    top: 27vh;
    left: 8vw;
}

h1.yes{
    margin-left: 8px;
    color: whitesmoke;
    text-align: center;
}

h3.yes{
    margin-left: 8px;
    color: whitesmoke;
    text-align: center;
}

img.fototop{
    width: 30vw;
    border-radius: 20%;
    margin-top: 10px;
}

div.comienzo{
    grid-template-columns: 95vw;
    display: grid;
    margin-top: 20px;
    margin-left: 0.5vw;
}

h1.tit1{
    margin-left: 8px;
    margin-bottom: -3px;
    margin-top: 0px;
    color: whitesmoke;
}

p.subt1{
    margin-left: 10px;
}

div.ref1{
    background-color: #262626;
    margin-bottom: 50px;
    border-radius: 6%;
    text-align: center
}

footer.icons{
    position: fixed; 
    padding: 10px 10px 20px 15px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
    background: black;
    margin-left: -8px;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.redes{
    display: grid;
    grid-template-columns: 23.25vw 23.25vw 23.25vw 23.25vw;
    margin-left: 6.5vw;
}

footer i.fas{
    color: lightgray;
    width: 19vw;
    margin-left: 5vw;
    margin-top: 18px;
}

p.nomic{
    display: none;
}

p.nosfoot{
   text-align: center;
   margin-bottom: 50px;
   margin-top: 30px;
}

@media (min-width: 1023px){

header.yes{
    width: 80vw;
    margin-left: 17vw;
}

img.fototop{
    width: 15vw;
    margin-top: 20px;
}

div.ref1{
    width: 80vw;
    margin-left: 17vw;  
}

footer.icons{
    position: absolute;
    top: 0px;
    left: 0;
    width: 15vw;
    height: 100vh;
    position: fixed;
}

p.nomic{
    display: block;
    margin-left: 4vw;
    margin-right: 2vw;
    margin-top: -27px;
}

footer i.fas{
    margin-left: 2vw;
    margin-bottom: 10px;
}

footer i.fa-home{
    margin-top: 5vw;
}

p.nosfoot{
    display: block;
    position: absolute;
    bottom: 4vh;
    left: 2vw;
    font-size: 15px;
}

div.comienzo{
    grid-template-columns: 95vw;
    display: grid;
    margin-top: 20px;
    margin-left: 0.5vw;
}

.fa-chevron-left{
    position: relative;
    top: -48vh;
    left: -38vw;
}

.hyperD{
    color:white;
    padding-left: 25px;
    display: block;
}

.hyper{
    display: none;
}

}