html, body{
    margin: 0;
    width: 100%;
}

body.whole{
    color: whitesmoke;
    background-image: url(../img/fonde.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
}
.hyper{
    color:white;
    padding-left: 25px;
    font-size: 5vw;
}

.hyperD{
    display: none;
}

ul{
    display: none;
}

.dropbtn {
    background-color: #262626;
    color: whitesmoke;
    padding: 2px 16px 8px 16px;
    border: none;
    cursor: pointer;
    width: 95vw;
  }
  
.dropbtn:hover, .dropbtn:focus {
    background-color: #333333;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 67px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    overflow: auto;
    border: 1px solid black;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: whitesmoke}
  
.show {
    display:block;
}

p.linkshare{
    color: whitesmoke;
    font-size: 13px;
    width: 95vw;
    text-align: center;
}
img.tops{
    max-width: 80px;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 20%;
    float: left;
}
p.nums{
    float: left;
    margin-right: 7px;
    padding: 10px 8px;
}
p.name{
    margin-left: 123px;
    padding: 12px;
    font-size: 16px;
}
div.ref2{
    background-color: rgba(61, 61, 61, 0.5);
    display: grid;
    grid-template-columns: 95vw;
}
section.song{
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    border-bottom: black 1px dotted;
    max-height: 90px;
}

.blackhole{
    background-color: black;
    width: 95vw;
    height: 50px;
    position: absolute;
    bottom: auto;
}

header.yes{
    background-color: #262626;
    margin-bottom: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6%;
    width: 95vw;
    position: relative;
    top: 10px;
    left: 10px;
}

.reproducir{
    width: 95vw;
    height: 92px;
    margin-bottom: 15px;
}

.us{
    width: 95vw;
    position: relative;
    top: 10px;
    left: 10px;
}

.fa-chevron-left{
    position: absolute;
    top: 5vh;
    left: 8vw;
}

.liked{
    position: absolute;
    top: 4vh;
    right: 8vw;
    font-size: 25px;
}

h1.yes{
    color: whitesmoke;
    text-align: center;
}

h3.yes{
    color: whitesmoke;
    text-align: center;
}

img.fototop{
    width: 30vw;
    border-radius: 20%;
    margin-top: 10px;
}

div.comienzo{
    grid-template-columns: 95vw;
    display: grid;
    margin-top: 20px;
    position: relative;
    top: 10px;
    left: 10px;
}

h1.tit1{
    margin-left: 8px;
    margin-bottom: -3px;
    margin-top: 0px;
    color: whitesmoke;
}

p.subt1{
    margin-left: 10px;
}

div.ref1{
    background-color: #262626;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    text-align: center
}

footer.icons{
    position: fixed; 
    padding: 10px 10px 20px 15px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
    background: black;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
}

footer i.fas{
    color: lightgray;
    width: 19vw;
    margin-left: 5vw;
    margin-top: 18px;
    text-align: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.redes{
    display: grid;
    grid-template-columns: 23.25vw 23.25vw 23.25vw 23.25vw;
    width: 95vw;
    text-align: center;
}

p.nomic{
    display: none;
}

p.nosfoot{
    display: none;
 }

 .nosotros{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px; 
}

.listen{
    width: 95vw;
    position: relative;
    top: 10px;
    left: 10px;
}

span{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}
.agregarcancion {
    display: none;
}
@media (min-width: 700px){
    
.ref1 {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    }

.textosuperior {
    text-align: left;
    padding-top: 15px;
}  

img.fototop{
    width: 25vw;
    border-radius: 20%;
    margin-top: 10px;
    position: relative;
    left: 107px;
}
}

@media (min-width: 1023px){

header.yes{
    width: 80vw;
    margin-left: 17vw;
}

img.fototop{
    width: 15vw;
    margin-top: 20px;
    position: inherit;
}

div.ref1{
    width: 80vw;
    margin-left: 17vw;  
}

footer.icons{
    position: absolute;
    top: 0px;
    left: 0;
    width: 15vw;
    height: 100vh;
    position: fixed;
    grid-template-columns: none;
    display: block;
}

p.nomic{
    display: block;
    margin-left: 4vw;
    margin-right: 2vw;
    margin-top: -27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

footer i.fas{
    margin-left: 2vw;
    margin-bottom: 10px;
    width: auto;
}
.ref2{
    width: 80vw;
    margin-left: 17vw;
}

footer i.fa-home{
    margin-top: 5vw;
}

p.nosfoot{
    display: block;
    position: absolute;
    bottom: 4vh;
    left: 2vw;
    font-size: 15px;
}

p.nosotros{
    display: none;
}

.fa-chevron-left{
    position: absolute;
    left: 20vw;
}

section.song{
    width: 79vw;
}

.liked{
    position: absolute;
    right: 9vw;
}

.hyper{
    display: none;
}

.hyperD{
    display: block;
    color:white;
    padding-left: 0px;
    margin-left: -25px;
    margin-top: 10px;
}

ul {
    list-style: none;
    display: flex;
}
  
  ul li {
    width: 20px;
    margin: 0 10px;
  }
  
  ul li a {
    width: 100%;
  }

  .dropbtn{
    width: 80vw;
    margin-left: 17vw; 
}

.blackhole{
    display: none;
}

.dropdown-content{
    width: 80vw;
    margin-left: 17vw;
    text-align: justify;
}

p.linkshare{
    width: 80vw;
}
.ref1 {
    background-color: #262626;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    text-align: center;
    display: block;    
    }

.textosuperior {
    text-align: center;

    padding-top: 15px;
}  

.ref1 a{
justify-content: center;
}

iframe{
    margin-left: 17vw;
}
.reproducir{
    width: 80vw;
}
}