body.whole{
    color: whitesmoke;
    background-image: url(../img/fonde.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
}

header.yes{
    background-color: #262626;
    margin-bottom: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6%;
}
h1.yes{
    margin-left: 8px;
    color: whitesmoke;
    text-align: center;
}
h3.yes{
    margin-left: 8px;
    color: whitesmoke;
    text-align: center;
}

.fa-chevron-left{
    position: absolute;
    top: 28vh;
    left: 10vw;
}

img.fototop{
    width: 30vw;
    border-radius: 20%;
    padding-top: 1vh;
}

a.return{
    color: whitesmoke;
    text-decoration: none;
}

div.comienzo{
    grid-template-columns: 95vw;
    display: grid;
    margin-top: 20px;
    margin-left: 1.5vw;
}

h1.tit1{
    padding-top: 20px;
    margin-left: 8px;
    margin-bottom: -3px;
    margin-top: 0px;
    color: whitesmoke;
}

p.subt1{
    margin-left: 10px;
}

section.song{
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    border-bottom: black 1px dotted;
}

img.tops{
    max-width: 80px;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 50%;
    float: left;
}

p.nums{
    float: left;
    margin-right: 7px;
    padding: 10px 8px;
}

p.name{
    margin-left: 123px;
    padding: 12px;
    font-size: 16px;
}

.redes{
    display: grid;
    grid-template-columns: 23.25vw 23.25vw 23.25vw 23.25vw;
    margin-left: 6.5vw;
}

.hyper{
    color:white;
    padding-left: 25px;
    font-size: 5vw;
}

.hyperD{
    display: none;
}

div.ref1{
    background-color: #262626;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    text-align: center;
    border-bottom: black 3px solid;
}

div.ref{
    background-color: rgba(61, 61, 61, 0.5);
    display: grid;
    grid-template-columns: 95vw;
    padding-bottom: 0px;
    margin-bottom: 0px;    
}

div.updated{
    text-align: center;
    margin-bottom: 33px;
}



.blackhole{
    background-color: black;
    width: 95vw;
    height: 50px;
}

footer.icons{
    position: fixed; 
    padding: 10px 10px 20px 15px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
    background: black;
    margin-left: -8px;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
}

footer i.fas{
    color: lightgray;
    width: 19vw;
    margin-left: 5vw;
    margin-top: 18px;
    text-align: center;
}
p.nomic{
    display: none;
}

p.nosfoot{
    display: none;
 }

 .nosotros{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;  
}

a{
    text-decoration: none;
    color: whitesmoke;
}

ul{
    display: none;
}
@media (min-width: 700px){
    .ref1 {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    .textosuperior {
        text-align: left;
        padding-top: 15px;
    }
    p.subt1 {
        margin-left: 0;
    }
    img.fototop{
        width: 23vw;
        position: relative;
        left: 107px;
    }
}
@media (min-width: 1023px){

header.yes{
    width: 80vw;
    margin-left: 17vw;
}


img.fototop{
    width: 15vw;
    margin-top: 20px;
    border-top-left-radius: none;
    position: inherit;
}

div.ref1{
    width: 80vw;
    margin-left: 17vw;  
}

footer.icons{
    position: absolute;
    top: 0px;
    left: 0;
    width: 15vw;
    height: 100vh;
    position: fixed;
    grid-template-columns: none;
    display: block;
}
p.nomic{
    display: block;
    margin-left: 4vw;
    margin-right: 2vw;
    margin-top: -27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
footer i.fas{
    margin-left: 2vw;
    margin-bottom: 10px;
    width: auto;
}

footer i.fa-home{
    margin-top: 5vw;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

p.nosfoot{
    display: block;
    position: absolute;
    bottom: 4vh;
    left: 2vw;
    font-size: 15px;
}

p.nosotros{
    display: none;
}

.blackhole{
    display: none;
}

div.ref{
    background-color: rgba(61, 61, 61, 0.6  );
    display: grid;
    grid-template-columns: 95vw;
    margin-top: 19px;
    padding-bottom: unset;
    width: 80vw;
    margin-left: 17vw;
    margin-top: 21px;
}

div.comienzo{
    grid-template-columns: 95vw;
    display: grid;
    margin-top: 20px;
    margin-left: 0.5vw;
}

.updated{
    margin-top: 30px;
}

section.song{
    width: 79vw;
}

.fa-chevron-left{
    position: absolute;
    top: 27vh;
    left: 20vw;
}

.hyper{
    display: none;
}

.hyperD{
    display: block;
    color:white;
    padding-left: 0px;
    margin-left: -25px;
    margin-top: 10px;
}

ul {
    list-style: none;
    display: flex;
}
  
  ul li {
    width: 20px;
    margin: 0 10px;
  }
  
  ul li a {
    width: 100%;
  }
  .ref1 {
    background-color: #262626;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    text-align: center;
    display: block;    
    }

.textosuperior {
    text-align: center;

    padding-top: 15px;
}  
}