body.whole{
    color: whitesmoke;
    background-image: url(../img/fonde.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
}

header.yes{
    background-color: #262626;
    margin-bottom: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6%;
}
h1.yes{
    margin-left: 8px;
    color: whitesmoke;
}
h3.yes{
    margin-left: 8px;
    color: whitesmoke;
}

div.volver{
    background-color: #262626;
    padding: 10px 10px 10px 10px;
    width: 20vw;
    text-align: center;
    border-radius: 6%;
}

a.return{
    color: whitesmoke;
    text-decoration: none;
}

div.comienzo{
    height: 550px;
    grid-template-columns: 95vw;
    grid-template-rows: 100px 450px;
    display: grid;
    margin-top: 20px;
    margin-left: 0.5vw;
}

h1.tit1{
    margin-left: 8px;
    margin-bottom: -3px;
    margin-top: 15px;
    color: whitesmoke;
}

p.subt1{
    margin-left: 10px;
}

section.song{
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    border-bottom: black 1px dotted
}

section.ultsong{
    border: none;
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
}

img.tops{
    max-width: 100vw;
    max-height: 45%;
    border: black 1px solid;
    border-top-left-radius: 20%;
    float: left;
}
img.topR{
    max-width: 100vw;
    max-height: 45%;
    border: black 1px solid;
    border-top-right-radius: 20%;
    float: left;
}
.hyper{
    color:white;
    padding-left: 25px;
}
img.botL{
    max-width: 100vw;
    max-height: 45%;
    border: black 1px solid;
    border-bottom-left-radius: 20%;
    float: left;
    margin-top: -1px;
}
img.botR{
    max-width: 100vw;
    max-height: 45%;
    border: black 1px solid;
    border-bottom-right-radius: 20%;
    float: left;
    margin-top: -1px;
}

p.nums{
    float: left;
    margin-right: 7px;
    padding: 10px 8px;
}
p.num1{
    float: left;
    margin-right: 10px;
    padding: 10px 8px;
}

p.ultnum{
    float: left;
    margin-right: 7px;
    padding: 10px 8px;
}

p.name{
    margin-left: 123px;
    padding: 12px;
    font-size: 16px;
    margin-top: -23px;
}

div.ref1{
    background-color: #262626;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

div.ref2{
    background-color: rgba(61, 61, 61, 0.5);
    display: grid;
    grid-template-rows: 90px 90px 90px 90px 90px;
    grid-template-columns: 95vw;
}

div.updated{
    text-align: center;
    margin-bottom: 33px;
}

.blackhole{
    background-color: black;
    width: 95vw;
    height: 50px;
}

footer.icons{
    position: fixed; 
    padding: 10px 10px 20px 15px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
    background: black;
    margin-left: -8px;
}

footer i.fas{
    color: lightgray;
    width: 19vw;
    margin-left: 5vw;
    margin-top: 18px;
}
p.nomic{
    display: none;
}

p.nosfoot{
    display: none;
}
a{
    text-decoration: none;
    color: whitesmoke;
}


@media(min-width: 1024px){

body.whole{
    background-image: url(../img/fonde.jpg);
    }
    h1.yes{
        text-align: center;}
    h3.yes{
        text-align: center;
    }

    footer.icons{
        position: absolute;
        top: 0px;
        left: 0;
        width: 15vw;
        height: 100vh;
        position: fixed;
    }
    p.nomic{
        display: block;
        margin-left: 4vw;
        margin-right: 2vw;
        margin-top: -27px;
    }
    footer i.fas{
        margin-left: 2vw;
        margin-bottom: 10px;
    }
    
    footer i.fa-home{
        margin-top: 5vw;
    }
    
    a{
        text-decoration: none;
        color: whitesmoke;
    }
    
    p.nosfoot{
        display: block;
        position: absolute;
        bottom: 4vh;
        left: 2vw;
        font-size: 15px;
    }
    
    .blackhole{
        display: none;
    }

    div.comienzo{
        margin-left: 17vw;
    }
    
    .ref1{
        width: 80vw;
    }
    
    .ref2{
        width: 80vw;
    }

    header.yes{
        width: 80vw;
        margin-left: 17vw;
    }

    section.song{
        width: 79vw;
    }
    
    section.ultsong{
        width: 79vw;
    }
    
}