.whole{
    color: whitesmoke;
    background-image: url(../img/Triangulos\ mix.jpg);
    background-attachment: fixed;
    height: 100vh;
}

header.header{
    background-color: #262626;
    margin-bottom: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6%;
}
h1.WeMusic{
    margin-left: 8px;
}
h3.Deezer{
    margin-left: 8px;
}

div.volver{
    background-color: #262626;
    padding: 10px 10px 10px 10px;
    width: 20vw;
    text-align: center;
    border-radius: 6%;
}
a.return{
    color: whitesmoke;
    text-decoration: none;
}

div.comienzo{
    height: 1000px;
    grid-template-columns: 95vw;
    grid-template-rows: 100px 900px;
    display: grid;
    margin-top: 20px;
}

h1.tit1{
    margin-left: 8px;
    margin-bottom: -3px;
    margin-top: 15px;
}

p.subt1{
    margin-left: 10px;
}

section.song{
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    border-bottom: black 1px dotted;
}

section.ultsong{
    border: none;
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
}

img.tops{
    max-width: 100vw;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 20%;
    float: left;
}

p.nums{
    float: left;
    margin-right: 7px;
    padding: 10px 8px;
}

p.ultnum{
    float: left;
    margin-right: 7px;
    padding: 10px 4px;
}

p.name{
    margin-left: 123px;
    padding: 6px;
    font-size: 19px;

}

div.ref1{
    background-color: #262626;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

div.ref2{
    background-color: rgba(61, 61, 61, 0.5);
    display: grid;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-columns: 95vw;
}

div.updated{
    text-align: center;
    margin-bottom: 33px;
}



.blackhole{
    background-color: black;
    width: 95vw;
    height: 50px;
}

footer.icons{
    position: fixed; 
    padding: 10px 10px 20px 15px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
    background: black;
    margin-left: -8px;
}

footer i.fas{
    color: lightgray;
    width: 19vw;
    margin-left: 5vw;
    margin-top: 18px;
}