html, body{
    margin: 0;
    width: 100%;
}

body.whole{
    color: whitesmoke;
    background-image: url(../img/fonde.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
}

a{
    text-decoration: none;
    color: whitesmoke;
}
header.yes{
    background-color: #262626;
    margin-bottom: 50px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 6%;
    width: 95vw;
    position: relative;
    top: 10px;
    left: 10px;
}
h1.yes{
    margin-left: 8px;
    color: whitesmoke;
    text-align: center;
}
.desaparecer{
    display: none;
    background-color: none;
}

h3.yes{
    margin-left: 8px;
    color: whitesmoke;
    text-align: center;
}

div.volver{
    background-color: #262626;
    padding: 10px 10px 10px 10px;
    width: 20vw;
    text-align: center;
    border-radius: 6%;
}

.redes{
    display: grid;
    grid-template-columns: 23.25vw 23.25vw 23.25vw 23.25vw;
    margin-left: 6.5vw;
    color: white;
}

.redesx{
    display: grid;
    grid-template-columns: 23.25vw 23.25vw 23.25vw 23.25vw;
    margin-left: 6.5vw;
    margin-top: 220px;
}

.hyper{
    color:white;
    padding-left: 25px;
    font-size: 5vw;
}

.hyperD{
    display: none;
}
a.return{
    color: whitesmoke;
    text-decoration: none;
}

div.comienzo{
    height: 1000px;
    grid-template-columns: 95vw;
    grid-template-rows: 100px 900px;
    display: grid;
    margin-top: 20px;
    margin-left: 0.5vw;
    width: 95vw;
    position: relative;
    top: 10px;
    left: 10px;
}

div.error{
    background-color: #262626;
    padding: 10px;
    border: 1px solid whitesmoke;
    width: 90vw;
    position: relative;
    right: 10px;
}

div.comienzoen{
    grid-template-columns: 95vw;
    display: grid;
    margin-top: 20px;
    position: relative;
    left: 10px;
}

.tit1{
    margin-left: 8px;
    margin-bottom: -3px;
    margin-top: 15px;
    color: whitesmoke;
}

p.subt1{
    margin-left: 10px;
}

section.song{
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    border-bottom: black 1px dotted;
}

section.songen{
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
    border-bottom: black 1px dotted;
    max-height: 90px; 
}

img.topsen{
    max-width: 70px;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 20%;
    float: left;
}

img.fotoError{
    max-width: 80px;
    max-height: 88px;
    border: black 1px solid;
    border-radius: 20%;
    float: left;
}

section.ultsong{
    border: none;
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 8px;
}

ul{
    display: none;
}

img.tops{
    max-width: 100vw;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 20%;
    float: left;
}
img.topsART{
    max-width: 100vw;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 50%;
    float: left;
}

img.topsARTen{
    max-width: 70px;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 50%;
    float: left;
}

p.nums{
    float: left;
    margin-right: 7px;
    padding: 10px 8px;
}

p.ultnum{
    float: left;
    margin-right: 7px;
    padding: 10px 4px;
}

p.name{
    margin-left: 123px;
    padding: 12px;
    font-size: 16px;

}

div.ref1{
    background-color: #262626;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

div.ref2{
    background-color: rgba(61, 61, 61, 0.5);
    display: grid;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-columns: 95vw;
}

div.resultsTra{
    background-color: rgba(61, 61, 61, 0.5);
    display: grid;
    grid-template-columns: 95vw;
}

div.resultsAlb{
    background-color: rgba(61, 61, 61, 0.5);
    display: grid;
    grid-template-columns: 95vw;
}

div.resultsArt{
    background-color: rgba(61, 61, 61, 0.5);
    display: grid;
    grid-template-columns: 95vw;
}

div.ref3{
    background-color: rgba(61, 61, 61, 0.5);
    display: grid;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-columns: 95vw;
}

div.updated{
    text-align: center;
    margin-bottom: 33px;
}

div.updateden{
    text-align: center;
    margin-bottom: 35px;
    margin-top: 161px;
}

.blackhole{
    background-color: black;
    width: 95vw;
    height: 50px;
}

footer.icons{
    position: fixed; 
    padding: 10px 10px 20px 15px; 
    bottom: 0; 
    width: 100%; 
    height: 40px; 
    background: black;
    margin-left: -8px;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
}

footer a.fas{
    color: lightgray;
    width: 19vw;
    margin-left: 5vw;
    margin-top: 18px;
    text-align: center;
}
p.nomic{
    display: none;
}

p.nosfoot{
    display: none;
 }

 .nosotros{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;  
}

.iconosss{
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    margin-left: 50px;
}

@media (min-width: 1023px){
header.yes{
    width: 80vw;
    margin-left: 17vw;
}

div.comienzo{
    margin-left: 17vw;
}

div.comienzoen{
    margin-left: 17vw;
}

.ref1{
    width: 80vw;
}

.ref2{
    width: 80vw;
}

.resultsTra{
    width: 80vw;
}

.ref3{
    width: 80vw;
}


footer.icons{
    position: absolute;
    top: 0px;
    left: 0;
    width: 15vw;
    height: 100vh;
    position: fixed;
    grid-template-columns: none;
    display: block;
}
p.nomic{
    display: block;
    margin-left: 4vw;
    margin-right: 2vw;
    margin-top: -27px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
footer i.fas{
    margin-left: 2vw;
    margin-bottom: 10px;
    width: auto;
}

footer i.fa-home{
    margin-top: 5vw;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

p.nosfoot{
    display: block;
    position: absolute;
    bottom: 4vh;
    left: 2vw;
    font-size: 15px;
}

p.nosotros{
    display: none;
}

.blackhole{
    display: none;
}

section.song{
    width: 79vw;
}

section.ultsong{
    width: 79vw;
}

.hyperD{
    display: block;
    color:white;
    padding-left: 0px;
    margin-left: -25px;
    margin-top: 10px;
}

.hyper{
    display: none;
}

ul {
    list-style: none;
    display: flex;
}
  
  ul li {
    width: 20px;
    margin: 0 10px;
  }
  
  ul li a {
    width: 100%;
  }

}